# dependencies
node_modules
.pnpm-store

# build output
dist
.turbo
.docusaurus
build
.cache
coverage

# env
.env.local

# misc
.DS_Store
Thumbs.db
*.log
.eslintcache
.npmrc

# editors
.idea
.vscode/*
!.vscode/extensions.json
